<% provide(:title, 'Home')%>  
<div class="center hero-unit">
	<h1>Welcome to My Wishlist</h1>
	
	<h4>
		This application is created to answer AidIn's interview follow up questions.   
	</h4>
	<p>
		You will be able to:
		<ul>
			<li>Sign up for an account by clicking "Sign Up Now!".</li>
			<li>If you have already sign up for an account, you can click sign in.</li>
			<li>Go to "Products" to add any products to your wishlist.</li>
			<li>Click on a product name to see product information including vendor address and map.</li>
			<li>Click "My wishlist" to edit/add/remove items from the list.</li>
		</ul>		
	</p>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
