<% if signed_in? %>
	<div id="fav_form">
		<% if current_user.favorite?(@vendor.id)  %>
			<%= render "favorites/unfavorite", 	vendor_obj: @vendor%>
		<%else%>
			<%= render "favorites/favorite", 	vendor_obj: @vendor %>
		<% end %>
	</div>
<% end %>
